.navBarSection{
  .header{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background: transparent;

    .logoDiv{
      .logo{
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: var(--whiteColor);
        cursor: pointer;

        .icon{
          vertical-align: -10%;
          margin-right: 10px;
          color: var(--PrimaryColor);
          font-size: 30px;
        }
      }
    }

    @media screen and (max-width: 768px){
      .navBar{
        position: absolute;
        top: 0;
        left: -500%;
        z-index: 1000;
        padding: 1rem;
        width: 100%;
        height: max-content;
        background: var(--greyBg);
        box-shadow: 0 2px 4px rgba(209, 209, 209, 0.984);
        transition: .5s ease;

        .navLists{
          flex-direction: column;
          justify-content: center;
          margin: auto;
          width: 100%;

          .navItem{
            padding: 1rem 0;

            .navLink{
              font-size: .9rem;
              font-weight: 600;
              color: var(--textColor);
              &:hover{
                color: var(--PrimaryColor);
              }
            }
          }

          .headerBtns{
            flex-direction: column;

            .btn{
              margin-top: 1rem;

              a{
                font-weight: 600;

                &:hover{
                  color: var(--whiteColor)
                }
              }
            }

            .loginBtn{
              background: none;
              border: 1px solid var(--PrimaryColor);
              
              a{
                color: var(--PrimaryColor);
              }
              &:hover{
                background: var(--HoverColor);
                a{
                  color: var(--whiteColor);
                }
              }
            }
          }
        }

        .closeNavbar{
          position: absolute;
          top: 1rem;
          right: 1.5rem;
          color: var(--PrimaryColor);
          &:hover .icon{
            color: var(--HoverColor);
          }
        }
      }

      .activeNavbar{
        left: 0;
      }
    }

    .toggleNavbar{
      .icon{
        font-size: 25px;
        color: var(--whiteColor);
        &:hover{
          color: var(--PrimaryColor)
        }
      }
    }
  }

  .activeHeader{
    background: var(--transparentColor);
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
  }
}

// Media Queries

@media screen and (min-width: 769px) {
  .navBarSection{

    .toggleNavbar, .closeNavbar{
      display: none;
    }

    .header{
      padding: 2rem 1.5rem;

      .navBar{
        .navLists{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .navItem{
            .navLink{
              padding: 0 .7rem;
              color: var(--whiteColor);
              font-size: .9rem;
              font-weight: 400;
              &:hover{
                color: var(--PrimaryColor);
              }
            }
          }

          .btn{
            margin-left: 1rem;

            a{
              color: var(--whiteColor);
              font-weight: 500;
            }
          }

          .loginBtn{
            border: 0.5px solid var(--PrimaryColor);
            background: none;

            &:hover{
              background: var(--PrimaryColor);
              a{
                color: var(--whiteColor);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .header{
    .navBar{
      .navLists{
        .navItem{
          padding: 0 1.4rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header{
    padding: 1rem 7.5rem !important;
  }
}