.navBarSection .header {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background: transparent;
}
.navBarSection .header .logoDiv .logo {
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--whiteColor);
  cursor: pointer;
}
.navBarSection .header .logoDiv .logo .icon {
  vertical-align: -10%;
  margin-right: 10px;
  color: var(--PrimaryColor);
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .navBarSection .header .navBar {
    position: absolute;
    top: 0;
    left: -500%;
    z-index: 1000;
    padding: 1rem;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    background: var(--greyBg);
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.984);
    transition: 0.5s ease;
  }
  .navBarSection .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .navBarSection .header .navBar .navLists .navItem {
    padding: 1rem 0;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--textColor);
  }
  .navBarSection .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns {
    flex-direction: column;
  }
  .navBarSection .header .navBar .navLists .headerBtns .btn {
    margin-top: 1rem;
  }
  .navBarSection .header .navBar .navLists .headerBtns .btn a {
    font-weight: 600;
  }
  .navBarSection .header .navBar .navLists .headerBtns .btn a:hover {
    color: var(--whiteColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn a {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn:hover {
    background: var(--HoverColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn:hover a {
    color: var(--whiteColor);
  }
  .navBarSection .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navBarSection .header .activeNavbar {
    left: 0;
  }
}
.navBarSection .header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--whiteColor);
}
.navBarSection .header .toggleNavbar .icon:hover {
  color: var(--PrimaryColor);
}
.navBarSection .activeHeader {
  background: var(--transparentColor);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}

@media screen and (min-width: 769px) {
  .navBarSection .toggleNavbar, .navBarSection .closeNavbar {
    display: none;
  }
  .navBarSection .header {
    padding: 2rem 1.5rem;
  }
  .navBarSection .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink {
    padding: 0 0.7rem;
    color: var(--whiteColor);
    font-size: 0.9rem;
    font-weight: 400;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .btn {
    margin-left: 1rem;
  }
  .navBarSection .header .navBar .navLists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
  }
  .navBarSection .header .navBar .navLists .loginBtn {
    border: 0.5px solid var(--PrimaryColor);
    background: none;
  }
  .navBarSection .header .navBar .navLists .loginBtn:hover {
    background: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .loginBtn:hover a {
    color: var(--whiteColor);
  }
}
@media screen and (min-width: 992px) {
  .header .navBar .navLists .navItem {
    padding: 0 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 1rem 7.5rem !important;
  }
}/*# sourceMappingURL=navbar.css.map */