@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: .3s ease;
}

:root{
  --PrimaryColor: #F67009;
  --HoverColor: #CB5E0B;
  --whiteColor: #FFFFFF;
  --blackColor: #2E2E2E;
  --textColor: #79797C;
  --whiteColorDeam: #EDEDED;
  --greyBg: #F5F5F5;
  --greyText: rgb(190, 190, 190);
  --inputColor: #F8F6F7;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: 4rem 1.5rem;
  background: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}

.btn a{
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover{
  color: var(--whiteColor);
}

.secIntro{
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.secIntro .secTitle{
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: .5rem;
}

.secIntro p{
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}

img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}

