@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: .3s ease;
}

:root{
  --PrimaryColor: rgba(112, 220, 166);
  --HoverColor: rgba(46, 56, 49);
  --RentColor: rgb(74, 102, 83);
  --whiteColor: #FFFFFF;
  --blackColor: #1C1C1C;
  --textColor: #79797C;
  --whiteColorDeam: #EDEDED;
  --greyBg: #F5F5F5;
  --greyText: rgb(190, 190, 190);
  --inputColor: #F8F6F7;
  --transparentColor: #3E3E3C;
  --backgroundColor: rgba(213, 245, 229);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: .4rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  background: var(--PrimaryColor);
  cursor: pointer;
}

.btn a{
  font-weight: 500;
  color: var(--whiteColor);
}

.btn:hover{
  color: var(--whiteColor);
}

.secIntro{
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 70%;
}

.secIntro .secTitle{
  padding-bottom: .5rem;
  line-height: 1.5rem;
  color: var(--blackColor);
}

.secIntro p{
  font-size: 13px;
  font-weight: 500;
  color: var(--textColor);
}

img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}


/* Media Queries */

@media screen and (min-width: 576px) {
  .mainContent{
    grid-template-columns: repeat(2,1fr);
  }
}